{% extends 'base.html.twig' %}

{% block title %}Welcome product list!{% endblock %}

{% block body %}
    <table border="1">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th width="5%">ID</th>
            <th width="10%">Name</th>
            <th>Description</th>
            <th width="8%">Price</th>
            <th width="3%">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{{ path('products_delete', {'id': product.id}) }}">Delete</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
